@import "tailwindcss";

@plugin "daisyui" {
  themes: all;
}

@plugin "daisyui/theme" {
  name: "hardcore";
  default: true;
  prefersdark: false;
  color-scheme: light;

  --color-base-100: #000000; /* black */
  --color-base-200: #333333; /* black */
  --color-base-300: #4d4d4d; /* black */
  --color-base-content: #ffffff; /* white */

  --color-primary: #ffffff;
  --color-primary-content: #fefeff;

  --color-secondary: #73aaff;
  --color-secondary-content: #fefeff;

  --color-accent: #ff0000; /* yt red */
  --color-accent-content: #fefeff;

  --color-neutral: #1E2939; /* bg-gray-800 */
  --color-neutral-content: #fefeff;

  --color-info: #7fa9ff;
  --color-info-content: #fefeff;

  --color-success: #66ff7a;
  --color-success-content: #fefeff;

  --color-warning: #ffd95a;
  --color-warning-content: #2b2b11;

  --color-error: #cc4422;
  --color-error-content: #fefeff;

  /* border radius */
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;

  /* base sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* border size */
  --border: 1px;

  /* effects */
  --depth: 1;
  --noise: 0;
}

@import "@/assets/styles/custom.css";

